.vantagens-bg {
  background-color: var(--c12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.vantagens-lista li {
  display: flex;
  flex-direction: column;
}

.vantagens-lista img {
  max-width: fit-content;
}

.vantagens-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media(max-width:800px) {
  .vantagens-lista {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:600px) {
  .vantagens-lista {
    grid-template-columns:1fr;
    gap: 20px;
  }
}